body{
  margin:0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg,#141E30,#243B55);
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.card{
  width:320px;
  background:rgba(255,255,255,0.15);
  backdrop-filter: blur(10px);
  padding:25px;
  border-radius:15px;
  color:#fff;
}

input,select,button{
  width:100%;
  padding:10px;
  margin-top:12px;
  border:none;
  border-radius:8px;
}

button{
  background:#00e676;
  font-size:16px;
  cursor:pointer;
}

.output{
  margin-top:15px;
}
